<html>
    <head>
        <title>TITANIC</title>

    </head>
    <body>
        <div style="text-align:center">
            <form method='POST'>
                {% csrf_token %}
            <h1>SURVIVAL PREDICTION TITANIC EVENT</h1>
            <h4>Enter following data to check whether you will survive in titanic event or not</h4>
            <span >Select ship class: </span>
            <select  name="Pclass">
                <option value="1">First Class</option>
                <option value="2">Second Class</option>
                <option value="3">Third Class</option>
            </select>
            <br><br>
            <span>Enter your name: </span>
            <input name="Name" style="dispaly:inline-block;width:200px;height:20px"></input>
            <br><br>
            <span>Sex: </span>
            <label><input type="radio" value="male" name="Sex">Male</label>
            <label><input type="radio" value="female" name="Sex">Female</label>
            <br><br>
            <span>Age: </span>
            <input name="Age" style="width:50px;height:20px">
            <br><br>
            <span>Is your wife/husband with you?</span>
            <label><input type="radio" value="1" name="spouses">YES</label>
            <label><input type="radio" value="0" name="spouses">NO</label>
            <br><br>
            <span>Total Number of Siblings</span>
            <input name="Sibling" style="width:50px;height:20px">
            <br><br>
            <span>Are there any parents/Guardians that are travelling with you? If yes please enter the number If None, please enter '0'</span>
            <input name="parent" style="width:50px;height:20px">
            <br><br>
            <!--
            <span>Enter Ticket Number: </span>
            <input name="Ticket" style="width:50px;height:20px">
            <br><br>
            <span>Enter Fare</span>
            <input name="Fare" style="width:50px;height:20px">
            <br><br>
            <span>Enter Cabin Number: </span>
            <input name="Cabin" style="width:50px;height:20px">
            <br><br>
            -->
            <span>Where Are You Going?</span>
            <label> <input value="S" type="radio" name="Embarked"> Southampton</input></label>
            <label> <input value="C" type="radio" name="Embarked"> Cherbourg</input></label>
            <label> <input value="Q" type="radio" name="Embarked">Queenstown</input></label>
            <br><br>
            <button type="submit" onclick="display()" style="height:30px">CLICK ME TO FIND RESULT</button>
            <br><br>
        </form>
        {%if living_percentage is not None%}
            {%if living_percentage == 1%}
                <p style="" id="living_percentage">SURVIVE</p>
            {%else%}
            <p>DEAD</p>
            {%endif%}
        {% endif%}
        </div>
    </body>
</html>